# Core Framework
Django==5.2

# Database
mysqlclient==2.2.7          # Use if connecting Django with MySQL
# or use the alternative if mysqlclient fails to install:
# PyMySQL==1.1.0

# Authentication and Password Hashing
bcrypt==4.1.3


